// app global css in SCSS form

.contact_background_hero {
  width: 100vw;
  height: 30vh;
  background-image: url("/assets/img/contact_hero.png");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
}

@media (max-width: 768px) {
  .contact_background_hero {
    background-image: url("/assets/img/mobile_contact.png");
    position: absolute;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 30vh;
  }
}

.blog_background_hero {
  width: 100vw;
  height: 30vh;
  background-image: url("/assets/img/blog_hero.png");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
}

@media (max-width: 768px) {
  .blog_background_hero {
    background-image: url("/assets/img/mobile_blog.png");
    position: absolute;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 30vh;
  }
}

.contact_info {
  width: 30vw;
  height: 30vh;
  background-image: url("/assets/img/contact_info.png");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}

.contact_info_mobile {
  width: 100vw;
  height: 30vh;
  background-image: url("/assets/img/contact_info.png");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}

.auth_background_hero {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/img/auth_hero.png");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .auth_background_hero {
    width: 100vw !important;
    height: 40vh !important;
    background-image: url("/assets/img/mobile_auth.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

.home_hero_path {
  background-image: url("/assets/img/path.png");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 10px !important;
  max-width: 400px;
}

.barber_hero_path {
  background-image: url("/assets/img/path2.png");
  background-position: top;
  background-repeat: no-repeat;
}
